body
{
    overflow-y: hidden;
}
#robot{
    position:relative;
    padding-top: 10%;
    height: auto;
    width: auto;
    max-width: 500px;
    max-height: 500px;
}
#chmura{
    position:relative;
    margin-bottom: 400px;
    margin-right: 100px;
    top: 2%;
    left: 59%;
    max-width: 500px;
    max-height: 500px;
}
.box{
    text-align: center;
}
.user {
    position: absolute;
    top: 31%;
    left: 69%;
}
span > input {
    background-color: transparent;
    border-width: 0;
    border-right: none;
    outline: none;
}
#info{
    color: limegreen;
    position: absolute;
    top: 17%;
    left: 65%;
    width: 264px;
}
.absolute_cloud
{
    position:absolute;
    margin-bottom: 400px;
    margin-right: 100px;
    top: 2%;
    left: 43%;
    max-width: 500px;
    max-height: 500px;
}
.gsc-results-wrapper-overlay{    
    height: 60% !important;    
    width: 25% !important;    
}